.footer {
  padding-bottom: 12px;

  &__container {
    border-top: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
}

.copyright {
  font-weight: $secondary-font-weight;
  font-size: 14px;
}

.copyright-link {
  color: #f38181;
}

.form-subscribe {
  display: flex;

  &__input {
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    padding-left: 12px;
    outline: none;
    font-size: 14px;

    &:required:focus:valid:not(:placeholder-shown) {
      border: 1px solid #95e1d3;
    }

    &:required:focus:invalid:not(:placeholder-shown) {
      border: 1px solid #f38181;
    }

    &::placeholder {
      font-family: $secondary-font;
      font-weight: $tertiary-font-weight;
      font-style: italic;
      font-size: 15px;
      line-height: 24px;
      color: #cccccc;
    }
  }
}

.btn-subscribe {
  width: 150px;
  height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #95e1d3;
  text-transform: uppercase;
}
