.header {
  min-height: 1000px;
  background: linear-gradient(
      to top,
      rgba(252, 227, 138, 0.9),
      rgba(243, 129, 129, 0.9)
    ),
    url(../images/bg/bg.jpg) no-repeat top center/cover;
  padding-top: 22px;
  color: $header-color;
}

@media (min-resolution: 192dpi) {
  .header {
    background: linear-gradient(
        to top,
        rgba(252, 227, 138, 0.9),
        rgba(243, 129, 129, 0.9)
      ),
      url(../images/bg/bg@2x.jpg) no-repeat top center/cover;
  }
}

.navigation {
  display: flex;
  align-items: baseline;
}

.header__navigation {
  margin-bottom: 136px;
}

.logo {
  font-size: 30px;
}

.menu,
.menu-svg {
  display: flex;
}

.navigation__menu {
  margin-left: auto;
  margin-right: 52px;
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-of-type) {
  margin-right: 54px;
}

.menu__item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;

  transform: translatex(-50%);
  bottom: 0;
  width: 0;
  border-bottom: 3px solid #fce38a;

  transition: all 0.3s linear;
}

.menu__item:hover::after {
  bottom: -10px;
  width: 100%;
}

.menu__link {
  font-size: 14px;
  font-weight: $secondary-font-weight;
  text-transform: uppercase;
  display: block;

  transition: color 0.2s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #fce38a;
}

.menu-svg {
  display: flex;

  justify-content: space-between;
}

.menu-svg__item:not(:last-of-type) {
  margin-right: 42px;
}

.menu-svg__svg {
  fill: #fff;

  transition: all 0.2s linear;
}

.menu-svg__svg:hover {
  fill: #fce38a;

  transform: scale(1.5);
}

.menu-svg__svg_cart {
  width: 18px;
  height: 15px;
}

.menu-svg__svg_search {
  width: 18px;
  height: 18px;
}

.main-title {
  font-size: 150px;
  line-height: 140px;
  width: 830px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.main-subtitle {
  font-size: 72px;
  margin-bottom: 8px;
}

.header-btn {
  font-size: 14px;
  text-transform: uppercase;
  border: 3px solid #fff;
  width: 160px;
  height: 40px;
  margin: 0 auto;

  transition: background-color 0.2s linear;
}

.header-btn:hover,
.header-btn:focus {
  background-color: rgba(243, 129, 129, 0.7);
}
