.services {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__card {
    flex-basis: 380px;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: 20px 4px;

    &:not(:nth-last-of-type(-n + 3)) {
      margin-bottom: 96px;
    }

    &_icon-alarm {
      background-image: url(../images/icon/alarm.svg);
    }

    &_icon-linegraph {
      background-image: url(../images/icon/linegraph.svg);
    }

    &_icon-computer {
      background-image: url(../images/icon/computer.svg);
    }

    &_icon-book {
      background-image: url(../images/icon/book.svg);
    }

    &_icon-home {
      background-image: url(../images/icon/home.svg);
    }

    &_icon-image {
      background-image: url(../images/icon/image.svg);
    }
  }

  &__card-title {
    font-weight: $secondary-font-weight;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__card-description {
    font-family: $secondary-font;
    font-weight: $secondary-font-weight;
    font-size: 15px;
    line-height: 24px;
    color: $secondary-text-color;
  }
}
