$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$decoration-font: 'Kaushan Script';
$header-color: #ffffff;
$main-text-color: #333333;
$secondary-text-color: #999999;
$main-font-weight: 700;
$secondary-font-weight: 400;
$tertiary-font-weight: 300;
