.section-title {
  font-size: 30px;
}
.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 64px;
}
.section-subtitle {
  font-size: 24px;
  margin-bottom: 14px;
}
