.section-description {
  font-family: $secondary-font;
  font-weight: $secondary-font-weight;
  font-size: 15px;
  line-height: 24px;
  color: $secondary-text-color;
  text-align: center;
  width: 944px;
  margin: 0 auto;
  margin-bottom: 86px;
}
