.title {
  text-align: center;
  text-transform: uppercase;
}
.subtitle {
  display: block;
  font-family: $decoration-font;
  font-weight: $secondary-font-weight;
  text-transform: none;
}
